/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 août 2016, 14:31:19
    Author     : admin
*/

.titre,.menu,.contenu,.pied {
    text-align:center;
    font-family: fantasy;
  
    
}

.menu{
    background-color: pink;
}

.pied {
    font-size: small;
}